@model EventManager.Areas.Admin.Models.Event

@{
    ViewBag.Title = "Delete";
}

<h2 class="centered">DELETE EVENT</h2>
<div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                <p>@Html.DisplayNameFor(model => model.Name)</p>
            </dt>

            <dd>
                <p>@Html.DisplayFor(model => model.Name)</p>
            </dd>

            <dt>
                <p>@Html.DisplayNameFor(model => model.Date)</p>
            </dt>

            <dd>
                <p>@Html.DisplayFor(model => model.Date)</p>
            </dd>

            <dt>
                <p>@Html.DisplayNameFor(model => model.Time)</p>
            </dt>

            <dd>
                <p>@Html.DisplayFor(model => model.Time)</p>
            </dd>

        </dl>
        <div class="centered">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <p>Are you sure you want to cancel this event?</p>
                    <input type="submit" value="Yes" class="btn btn-warning"/> |
                    @Html.ActionLink("No", "Index", null, new { @class = "btn btn-danger" })
                </div>
            }
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>