@using Microsoft.Ajax.Utilities
@model IEnumerable<EventManager.Areas.Admin.Models.Event>

@{
    ViewBag.Title = "Index";
}
<h2 class="centered">Events</h2>


<div>
    <div class="col-md-5"></div>
    <div class="btn-group btn-toggle col-md-2 toggler">
        <button class="btn btn-xs btn-primary active" value="upcoming">Upcoming</button>
        <button class="btn btn-xs btn-default" value="previous">Previous</button>
    </div>
    <div class="col-md-5"></div>
  
</div>



<div id="events">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                Guests
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @if (ViewBag.BookedEvents.Contains(item))
                    {
                        @Html.DisplayFor(modelItem => item.Booking.Guest1)<br/>
                        @Html.DisplayFor(modelItem => item.Booking.Guest2)<br/>
                        @Html.DisplayFor(modelItem => item.Booking.Guest3)<br/>
                    }
                    else
                    {
                        <p>Unbooked</p>
                    }
                </td>
                <td>
                    @Html.ActionLink("Delete Event", "Delete", new { id = item.EventId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
    
</div>

<div class="centered">@Html.ActionLink("Create New", "New", null, new { @class = "btn btn-default" })</div>
