@model EventManager.Areas.Admin.Models.Invitation

@{
    ViewBag.Title = "Delete";
}

<h2 class="centered">Delete Invitation</h2>
<div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InvitationCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InvitationCode)
            </dd>

        </dl>

        <div class="centered">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <p>Are you sure you want to delete this invitation?</p>
                    <input type="submit" value="Yes" class="btn btn-danger" /> |
                    @Html.ActionLink("No", "Index", null, new { @class = "btn btn-success" })
                </div>
            }
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>
