@using EventManager.Services
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Syzygy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body data-spy="scroll" data-offset="0" data-target="#theMenu">

<!-- Menu -->
<nav class="menu" id="theMenu">

    <div class="menu-wrap">
        @if (UserService.IsInvitedUser())
        {
            <h1 class="logo">@Html.ActionLink("Syzygy", "Index", "Home", new {Area = ""}, null)</h1>
            <i class="icon-remove menu-close"></i>
            @Html.ActionLink("Booking", "Index", "Home")
            @Html.ActionLink("Log Out", "Delete", "Home")
        }
        else
        {
            <h1 class="logo">@Html.ActionLink("Syzygy", "Index", "Home", new {Area = ""}, null)</h1>
            <i class="icon-remove menu-close"></i>
			@Html.ActionLink("About", "Manifesto", "Home", new { Area = "" }, null)
			@Html.ActionLink("Products", "Products", "Home", new { Area = "" }, null)
			@Html.ActionLink("Careers", "Careers", "Home", new { Area = "" }, null)
			@Html.Partial("Mini_login", "Home");
		}
    </div>

    <!-- Menu button -->
    <div id="menuToggle"><i class="icon-reorder"></i>
    </div>
</nav>

<div class="container body-content">
    @RenderBody()
</div>

<footer class="footer">
	<div class="container">
		<p class="footer-text">@Html.ActionLink("SYZYGY SYSTEMS INC.", "Index", "Home", null, new { @class = "footer-syzygy" })</a>
		| @Html.ActionLink("About", "Manifesto", "Home")
		| @Html.ActionLink("Products", "Products", "Home")
		| @Html.ActionLink("Careers", "Careers", "Home")
		| @Html.ActionLink("Apply", "Login", "Home")</p>
	</div>
</footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
