@model EventManager.Models.Booking

@{
    ViewBag.Title = "Delete";
}

<h2 class="centered">@Html.DisplayFor(model => model.Event.Name) </h2>
<div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <p>@Html.DisplayNameFor(model => model.PrimaryGuest)</p>
            </dt>

            <dd>
                <p>@Html.DisplayFor(model => model.PrimaryGuest)</p>
            </dd>

            <dt>
                <p>@Html.DisplayNameFor(model => model.Guest1)</p>
            </dt>

            <dd>
                <p>@Html.DisplayFor(model => model.Guest1)</p>
            </dd>

            <dt>
                <p>@Html.DisplayNameFor(model => model.Guest2)</p>
            </dt>

            <dd>
                <p>@Html.DisplayFor(model => model.Guest2)</p>
            </dd>
        </dl>

        <div class="centered">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <p>Are you sure you want to cancel this booking?</p>
                    <input type="submit" value="Yes" class="btn btn-warning"/> |
                    @Html.ActionLink("No", "Details", new {id = Model.EventId }, new { @class = "btn btn-danger" })
                </div>
            }
        </div>
    </div>
    <div class="col-lg-4">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

