@model EventManager.Models.Booking

@{
    ViewBag.Title = "Delete";
}

<h2 class="centered">Cancel @Html.DisplayFor(model => model.Event.Name) </h2>
<div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Guest1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Guest1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Guest2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Guest2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Guest3)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Guest3)
            </dd>
        </dl>

        <div class="centered">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <p>Are you sure you want to cancel this booking?</p>
                    <input type="submit" value="Yes" class="btn btn-danger"/> |
                    @Html.ActionLink("No", "Details", new {id = Model.EventId }, new { @class = "btn btn-success" })
                </div>
            }
        </div>
    </div>
    <div class="col-lg-4">
    </div>
</div>

