@model EventManager.Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2 class="centered">@Html.DisplayFor(model => model.Event.Name)</h2>

<div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Event.Date)
            </dt>
            
            <dd>
                @Html.DisplayFor(model => model.Event.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Event.Time)
            </dt>
            
            <dd>
                @Html.DisplayFor(model => model.Event.Time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Guest1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Guest1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Guest2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Guest2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Guest3)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Guest3)
            </dd>
        </dl>

        <div class="centered">
            @Html.ActionLink("Cancel", "Delete", new {id = Model.EventId}, new {@class = "btn btn-danger"})
        </div>
    </div>
    <div class="col-md-4">   
    </div>
</div>

