@model EventManager.Models.Booking

@{
    ViewBag.Title = "Book";
}

<h2 class="centered">Book</h2>

<p>
	Sessions are one hour in length. Please arrive 15min before your scheduled slot for a Syzygy HR Representative to take you through the induction. Leaving before your hour is up may invalidate your participation.
</p>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="col-lg-3"></div>
    <div class="col-lg-6 form-horizontal centered">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group centered">
            <p>@Html.LabelFor(model => model.EventId, "Event", htmlAttributes: new { @class = "control-label col-md-4" })</p>
            <div class="col-md-8">
                @Html.DropDownList("EventId", null, htmlAttributes: new { @class = "form-control centered" })
                @Html.ValidationMessageFor(model => model.EventId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group centered">
            <p>@Html.LabelFor(model => model.PrimaryGuest, htmlAttributes: new { @class = "control-label col-md-4" })</p>
            <div class="col-md-8">
                @Html.EditorFor(model => model.PrimaryGuest, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>
        
        <div class="form-group centered">
            <p>@Html.LabelFor(model => model.Guest1, htmlAttributes: new { @class = "control-label col-md-4" })</p>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Guest1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Guest1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>@Html.LabelFor(model => model.Guest2, htmlAttributes: new { @class = "control-label col-md-4" })</p>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Guest2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Guest2, "", new { @class = "text-danger" })
            </div>
        </div>

		<p>
			Syzygy Systems Inc. takes your safety and security very seriously. If you or any of your nominated participants have any issues with:
			<ul>
				<li>DARKNESS</li>
				<li>ENCLOSED SPACES</li>
				<li>STROBE LIGHTING</li>
			</ul>
			please make yourself known to Syzygy staff by emailing safety-first@@syzygy.online.
		</p>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="BOOK" class="btn btn-warning" />
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
