
@{
    ViewBag.Title = "Manifesto";
}

<div class="manifesto">

<h2>Who Are We?</h2>

	<p>We are the world’s largest provider of informatics solutions, with more than 300,000 employees and an annual turnover of $65bn.</p>
	<p>We pioneer the latest technologies in everything from @Html.ActionLink("big data", "Products", "Home") to @Html.ActionLink("nanorobotics", "Products", "Home"), from @Html.ActionLink("geophysical surveying", "Products", "Home") to @Html.ActionLink("satellite communications", "Products", "Home"), in fields as diverse as @Html.ActionLink("pharmaceuticals", "Products", "Home") and @Html.ActionLink("counterterrorism", "Products", "Home").</p>
	<p>Our unique expertise and uncompromising excellence puts us <a href="~/images/chart.png">head and shoulders above our competitors.</a></p>
	<p>We are Syzygy, and your future is our concern.</p>
</div>
