@using EventManager.Models
@using EventManager.Services
@model IEnumerable<EventManager.Areas.Admin.Models.Event> 

    @{
        ViewBag.Title = "Upcoming";
    }

    <h3 class="centered">UPCOMING EVENTS</h3>

    <table class="table">
        <tr>
            <th>
                <p>@Html.DisplayNameFor(model => model.Name)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.Date)</p>
            </th>
            <th>
                <p>@Html.DisplayNameFor(model => model.Time)</p>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.Name)</p>
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.Date)</p>
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.Time)</p>
                </td>
                <td>
                    @if (ViewBag.UnbookedEvents.Contains(item) && ViewBag.NotAlreadyBookedIn)
                    {
                        @Html.ActionLink("Book", "New", "Bookings", null, new { @class = "btn btn-warning"} )
                    }
                </td>
            </tr>
        }
    </table>



